{
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "plugins": ["prettier-plugin-css-order"],
    "cssDeclarationSorterOrder": "alphabetical",
    "overrides": [
        {
            "files": "*.{html,jsx,tsx}",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
