* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

    header {
        align-items: center;
        background-color: #9bb469;
        display: flex;
        gap: 1rem;
        grid-column: auto;
        height: 50px;
        justify-content: center;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1;

        a {
            text-decoration: none;
        }
    }
    .l-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        // align-items: center;
        position: relative;

        .filtering-root {
            display: flex;
            flex-direction: column;
            // justify-content: start;
            // align-items: center;
            flex-grow: 1;
            position: relative;

            a {
                color: rgb(97, 97, 97);
            }

            li {
                list-style: none;
            }
            .btns {
                background-color: transparent;
                border: 0.6px solid #ccc;
                border-radius: 5px;
                color: #323232;
                margin-right: 6px;
                padding: 10px 20px;
            }
        }
    }
}
