.cal-root {
    align-items: center;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    min-height: 100vh;

    .calculator {
        display: grid;
        position: relative;

        .value {
            border: none;
            font-size: 18px;
            grid-column: span 4;
            height: 100px;
            outline: none;
            padding: 10px;
            text-align: right;
        }

        span {
            background-color: #292929;
            border: 1px solid rgba(0, 0, 0, 0.1);
            color: #fff;
            display: grid;
            height: 60px;
            place-content: center;
            // width: auto;

            &:active {
                background-color: rgb(255, 163, 26);
                color: #fff;
            }
        }

        .clear {
            background-color: rgb(255, 163, 26);
            grid-column: span 2;
            // width: auto;
        }

        .plus {
            grid-row: span 2;
            height: 120px;
        }

        .equal {
            background-color: rgb(255, 163, 26);
        }
    }
}
