.clr-root {
    position: relative;
    .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        min-width: 100%;

        button {
            background: transparent;
            cursor: pointer;
            padding: 10px 20px;
            position: absolute;
            right: 20px;
            top: 20px;
        }

        .content {
            font-size: 5rem;
        }
    }
}
